absl-py==2.3.1
asttokens @ file:///home/conda/feedstock_root/build_artifacts/asttokens_1763409923949/work
attrs==25.4.0
beautifulsoup4==4.14.3
boxmot==16.0.0
cattrs==25.3.0
certifi==2025.11.12
charset-normalizer==3.4.4
click==8.3.1
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1733218098505/work
coloredlogs==15.0.1
comm @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_comm_1753453984/work
contourpy==1.3.2
coremltools==9.0
cuda-toolkit==13.1.0
cycler==0.12.1
debugpy @ file:///D:/bld/bld/rattler-build_debugpy_1765840828/work
decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1740384970518/work
executing @ file:///home/conda/feedstock_root/build_artifacts/executing_1756729339227/work
filelock==3.20.1
filterpy==1.4.5
flatbuffers==25.12.19
fonttools==4.61.1
fsspec==2025.12.0
ftfy==6.3.1
gdown==5.2.0
grpcio==1.76.0
humanfriendly==10.0
idna==3.11
ImageIO==2.37.2
imageio-ffmpeg==0.6.0
ipykernel @ file:///D:/bld/bld/rattler-build_ipykernel_1761567966/work
ipython @ file:///D:/bld/bld/rattler-build_ipython_1764766840/work
ipython_pygments_lexers @ file:///home/conda/feedstock_root/build_artifacts/ipython_pygments_lexers_1737123620466/work
jedi @ file:///home/conda/feedstock_root/build_artifacts/jedi_1733300866624/work
Jinja2==3.1.6
joblib==1.5.3
jupyter_client @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_jupyter_client_1765375773/work
jupyter_core @ file:///D:/bld/bld/rattler-build_jupyter_core_1760643889/work
kiwisolver==1.4.9
lapx==0.9.3
lazy_loader==0.4
loguru==0.7.3
Markdown==3.10
markdown-it-py==4.0.0
MarkupSafe==3.0.3
matplotlib==3.10.8
matplotlib-inline @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-inline_1761214490209/work
mdurl==0.1.2
ml_dtypes==0.5.4
moviepy==2.2.1
mpmath==1.3.0
nest_asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1733325553580/work
networkx==3.6.1
numpy==2.4.0
nvidia-cuda-runtime==13.1.80
nvidia-cuda-runtime-cu12==12.9.79
onnx==1.19.1
onnx-ir==0.1.13
onnx-simplifier==0.4.36
onnx_graphsurgeon==0.5.8
onnxruntime-gpu==1.23.2
onnxscript==0.5.7
onnxsim==0.4.36
onnxslim==0.1.80
opencv-python==4.11.0.86
packaging @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_packaging_1745345660/work
pandas==2.3.3
parso @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_parso_1755974222/work
pillow==11.3.0
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_platformdirs_1764950726/work
polars==1.36.1
polars-runtime-32==1.36.1
proglog==0.1.12
prompt_toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1756321756983/work
protobuf==6.33.2
psutil @ file:///D:/bld/bld/rattler-build_psutil_1762092931/work
pure_eval @ file:///home/conda/feedstock_root/build_artifacts/pure_eval_1733569405015/work
pyaml==25.7.0
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1750615794071/work
pyparsing==3.2.5
pyreadline3==3.5.4
PySocks==1.7.1
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_python-dateutil_1751104122/work
python-dotenv==1.2.1
pytz==2025.2
pywin32 @ file:///D:/bld/bld/rattler-build_pywin32_1756487145/work
PyYAML==6.0.3
pyzmq @ file:///D:/bld/bld/rattler-build_pyzmq_1757387035/work
regex==2024.11.6
requests==2.32.5
rich==14.2.0
scikit-image==0.26.0
scikit-learn==1.8.0
scipy==1.15.3
seaborn==0.13.2
shapely==2.1.2
six @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_six_1753199211/work
soupsieve==2.8.1
stack_data @ file:///home/conda/feedstock_root/build_artifacts/stack_data_1733569443808/work
sympy==1.14.0
tensorboard==2.20.0
tensorboard-data-server==0.7.2
tensorrt==10.14.1.48.post1
tensorrt_cu12==10.14.1.48.post1
tensorrt_cu12_bindings==10.14.1.48.post1
tensorrt_cu12_libs==10.14.1.48.post1
tensorrt_cu13==10.14.1.48.post1
tensorrt_cu13_bindings==10.14.1.48.post1
tensorrt_cu13_libs==10.14.1.48.post1
thop==0.1.1.post2209072238
threadpoolctl==3.6.0
tifffile==2025.12.20
torch==2.9.1+cu126
torchvision==0.24.1+cu126
tornado @ file:///D:/bld/tornado_1765836389475/work
tqdm==4.67.1
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1733367359838/work
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_typing_extensions_1756220668/work
tzdata==2025.3
ultralytics==8.3.240
ultralytics-thop==2.0.18
urllib3==2.6.2
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1758622279606/work
Werkzeug==3.1.4
win32_setctime==1.2.0
yacs==0.1.8
